/* ==========================================================================
   Base
   ========================================================================== */

*  {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html {
    font-size: 100%;

    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    color: #4d4d4d;
    font-family: sans-serif;
    line-height: 1.5;
    margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden],
template {
    display: none;
}


/* Headings
   ========================================================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

h1,
h2,
h3 {
    line-height: 1.1;
    margin: 3rem 0 1rem;
}

h4,
h5,
h6 {
    margin: 2rem 0 1rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1rem;
}

h5 {
    font-size: 0.875rem;
}

h6 {
    font-size: 0.75rem;
}

.section-title {
    border-bottom: 1px solid #babcbe;
    padding: 0 0 1rem;
}

/* Paragraphs
   ========================================================================== */

p {
    margin-bottom: 1em;
}

/* Lists
   ========================================================================== */

ul,
ol {
    padding-left: 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
    padding-left: 2em;
}

.bare-list {
    list-style: none;
}

/* Links
   ========================================================================== */

a {
    background: transparent;
    border-bottom: 1px solid currentColor;
    color: inherit;
    text-decoration: none;
}

a:active,
a:hover {
    outline: 0;
}

a:hover,
a:focus {
    border-bottom-color: #f7b900;
}


/* Text-level semantics
   ========================================================================== */

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

mark {
    background: #ff0;
    color: #000;
}

small {
    font-size: 0.75em;
}

sub,
sup {
    font-size: 0.75em;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

/* Grouping content
   ========================================================================== */

figure {
    margin: 1em 40px;
}

hr {
    -moz-box-sizing: content-box;
         box-sizing: content-box;
    height: 0;
}

pre {
    overflow: auto;
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

/* Forms
   ========================================================================== */

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input {
    line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
}

optgroup {
    font-weight: bold;
}

/* Tables
   ========================================================================== */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}




















/* ==========================================================================
   Layout
   ========================================================================== */

/* Generic
   ========================================================================== */

.contain {
    padding-left: 4%;
    padding-right: 4%;
}

.code-block {
    margin-bottom: 1em;
    overflow: auto;
    padding: 1em;
}

    .code-block > pre {
        margin: 0;
        overflow: visible;
    }

.code-block--do {
    background-color: #c3ffc1;
}

.code-block--do-not {
    background-color: #febfc2;
}

.code-block--maybe {
    background-color: #ffffc1;
}

@media screen and (min-width: 600px) {

    .contain {
        padding-left: 2em;
        padding-right: 2em;
    }

}

/* Site Header
   ========================================================================== */

.site-header {
    background-color: #F2C075;
    display: inline-block;
    padding-bottom: 3em;
    padding-top: 3em;
}

.site-logo {
    display: block;
    height: 3.25em;
    margin: 0 auto 3em;
}

.site-nav {
    text-align: center;
}

    .site-nav > ul {
        display: inline-block;
        text-align: left;
    }

        .site-nav > ul > li {
            margin-bottom: 1em;
        }

            .site-nav > ul > li > a {
                font-weight: bold;
            }

            .site-nav > ul > li li {
                margin: 0.5em 0;
            }

                .site-nav a {
                    border-bottom: none;
                }

.site-nav a:hover {
    border-bottom: 1px solid currentColor;
}

@media screen and (min-width: 666px) {

    .site-header {
        display: inline-block;
        vertical-align: top;
    }

    .site-header:before {
        background-color: inherit;
        content: "";
        height: 100%;
        left: 0;
        position: fixed;
        top: 0;
        width: inherit;
        z-index: -1;
    }

}

/* Site Main
   ========================================================================== */

.site-content {
    display: block;
}

@media screen and (min-width: 666px) {

    .site-content {
        display: inline-block;
        vertical-align: top;
    }

}

/* Site Footer
   ========================================================================== */

.site-footer {
    border-top: 1px solid #babcbe;
    margin-top: 48px;
    padding-top: 16px;
}




















/* ==========================================================================
   Components
   ========================================================================== */

/* Grids
   ========================================================================== */

.grid {
    list-style:none;
    margin: 0 0 0 -2em;
}

.grid > .grid {
    margin-left: 0;
}

    .grid__unit {
        display: inline-block;
        padding-left: 2em;
        vertical-align: top;
        width: 100%; /* default width */
    }

/* Drop Downs
   ========================================================================== */

.drop-down,
.drop-down--alt {
    overflow: hidden;
    position: relative;
}
    .drop-down__content {
        display: none;
        position: absolute;
        top: 100%;
    }

    .drop-down:hover,
    .drop-down--alt:hover {
        overflow:visible;
    }

    .drop-down:hover > .drop-down__content {
        display: block;
    }

    .drop-down--alt:hover > .drop-down__content {
        left: 100%;
        top: 0;
    }




















/* ==========================================================================
   Utility
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.reset {
    list-style: none;
    margin: 0;
    padding: 0;
}

.center {
    text-align: center;
}




















/* ==========================================================================
   Units
   ========================================================================== */

.unit-1 {
    width: 100%;
}

.unit-1-2 {
    width: 50%;
}

.unit-1-3 {
    width: 33.3333%;
}

.unit-2-3 {
    width: 66.6667%;
}

.unit-1-4 {
    width: 25%;
}

.unit-3-4 {
    width: 75%;
}

.unit-1-5 {
    width: 20%;
}

.unit-2-5 {
    width: 40%;
}

.unit-3-5 {
    width: 60%;
}

.unit-4-5 {
    width: 80%;
}

.unit-1-6 {
    width: 16.6667%;
}

.unit-5-6 {
    width: 83.3333%;
}

.unit-1-7 {
    width: 14.2857%;
}

.unit-2-7 {
    width: 28.5714%;
}

.unit-3-7 {
    width: 42.8571%;
}

.unit-4-7 {
    width: 57.1429%;
}

.unit-5-7 {
    width: 71.4286%;
}

.unit-6-7 {
    width: 85.7143%;
}

.offset-1 {
    margin-left: 100%;
}

.offset-1-2 {
    margin-left: 50%;
}

.offset-1-3 {
    margin-left: 33.3333%;
}

.offset-2-3 {
    margin-left: 66.6667%;
}

.offset-1-4 {
    margin-left: 25%;
}

.offset-3-4 {
    margin-left: 75%;
}

.offset-1-5 {
    margin-left: 20%;
}

.offset-2-5 {
    margin-left: 40%;
}

.offset-3-5 {
    margin-left: 60%;
}

.offset-4-5 {
    margin-left: 80%;
}

.offset-1-6 {
    margin-left: 16.6667%;
}

.offset-5-6 {
    margin-left: 83.3333%;
}

.offset-1-7 {
    margin-left: 14.2857%;
}

.offset-2-7 {
    margin-left: 28.5714%;
}

.offset-3-7 {
    margin-left: 42.8571%;
}

.offset-4-7 {
    margin-left: 57.1429%;
}

.offset-5-7 {
    margin-left: 71.4286%;
}

.offset-6-7 {
    margin-left: 85.7143%;
}

@media screen and (max-width: 665px) {

    .unit-1--bp0 {
        width: 100%;
    }

    .unit-1-2--bp0 {
        width: 50%;
    }

    .unit-1-3--bp0 {
        width: 33.3333%;
    }

    .unit-2-3--bp0 {
        width: 66.6667%;
    }

    .unit-1-4--bp0 {
        width: 25%;
    }

    .unit-3-4--bp0 {
        width: 75%;
    }

    .unit-1-5--bp0 {
        width: 20%;
    }

    .unit-2-5--bp0 {
        width: 40%;
    }

    .unit-3-5--bp0 {
        width: 60%;
    }

    .unit-4-5--bp0 {
        width: 80%;
    }

    .unit-1-6--bp0 {
        width: 16.6667%;
    }

    .unit-5-6--bp0 {
        width: 83.3333%;
    }

    .unit-1-7--bp0 {
        width: 14.2857%;
    }

    .unit-2-7--bp0 {
        width: 28.5714%;
    }

    .unit-3-7--bp0 {
        width: 42.8571%;
    }

    .unit-4-7--bp0 {
        width: 57.1429%;
    }

    .unit-5-7--bp0 {
        width: 71.4286%;
    }

    .unit-6-7--bp0 {
        width: 85.7143%;
    }

    .offset-1--bp0 {
        margin-left: 100%;
    }

    .offset-1-2--bp0 {
        margin-left: 50%;
    }

    .offset-1-3--bp0 {
        margin-left: 33.3333%;
    }

    .offset-2-3--bp0 {
        margin-left: 66.6667%;
    }

    .offset-1-4--bp0 {
        margin-left: 25%;
    }

    .offset-3-4--bp0 {
        margin-left: 75%;
    }

    .offset-1-5--bp0 {
        margin-left: 20%;
    }

    .offset-2-5--bp0 {
        margin-left: 40%;
    }

    .offset-3-5--bp0 {
        margin-left: 60%;
    }

    .offset-4-5--bp0 {
        margin-left: 80%;
    }

    .offset-1-6--bp0 {
        margin-left: 16.6667%;
    }

    .offset-5-6--bp0 {
        margin-left: 83.3333%;
    }

    .offset-1-7--bp0 {
        margin-left: 14.2857%;
    }

    .offset-2-7--bp0 {
        margin-left: 28.5714%;
    }

    .offset-3-7--bp0 {
        margin-left: 42.8571%;
    }

    .offset-4-7--bp0 {
        margin-left: 57.1429%;
    }

    .offset-5-7--bp0 {
        margin-left: 71.4286%;
    }

    .offset-6-7--bp0 {
        margin-left: 85.7143%;
    }

}

@media screen and (min-width: 666px) {

    .unit-1--bp1 {
        width: 100%;
    }

    .unit-1-2--bp1 {
        width: 50%;
    }

    .unit-1-3--bp1 {
        width: 33.3333%;
    }

    .unit-2-3--bp1 {
        width: 66.6667%;
    }

    .unit-1-4--bp1 {
        width: 25%;
    }

    .unit-3-4--bp1 {
        width: 75%;
    }

    .unit-1-5--bp1 {
        width: 20%;
    }

    .unit-2-5--bp1 {
        width: 40%;
    }

    .unit-3-5--bp1 {
        width: 60%;
    }

    .unit-4-5--bp1 {
        width: 80%;
    }

    .unit-1-6--bp1 {
        width: 16.6667%;
    }

    .unit-5-6--bp1 {
        width: 83.3333%;
    }

    .unit-1-7--bp1 {
        width: 14.2857%;
    }

    .unit-2-7--bp1 {
        width: 28.5714%;
    }

    .unit-3-7--bp1 {
        width: 42.8571%;
    }

    .unit-4-7--bp1 {
        width: 57.1429%;
    }

    .unit-5-7--bp1 {
        width: 71.4286%;
    }

    .unit-6-7--bp1 {
        width: 85.7143%;
    }

    .offset-1--bp1 {
        margin-left: 100%;
    }

    .offset-1-2--bp1 {
        margin-left: 50%;
    }

    .offset-1-3--bp1 {
        margin-left: 33.3333%;
    }

    .offset-2-3--bp1 {
        margin-left: 66.6667%;
    }

    .offset-1-4--bp1 {
        margin-left: 25%;
    }

    .offset-3-4--bp1 {
        margin-left: 75%;
    }

    .offset-1-5--bp1 {
        margin-left: 20%;
    }

    .offset-2-5--bp1 {
        margin-left: 40%;
    }

    .offset-3-5--bp1 {
        margin-left: 60%;
    }

    .offset-4-5--bp1 {
        margin-left: 80%;
    }

    .offset-1-6--bp1 {
        margin-left: 16.6667%;
    }

    .offset-5-6--bp1 {
        margin-left: 83.3333%;
    }

    .offset-1-7--bp1 {
        margin-left: 14.2857%;
    }

    .offset-2-7--bp1 {
        margin-left: 28.5714%;
    }

    .offset-3-7--bp1 {
        margin-left: 42.8571%;
    }

    .offset-4-7--bp1 {
        margin-left: 57.1429%;
    }

    .offset-5-7--bp1 {
        margin-left: 71.4286%;
    }

    .offset-6-7--bp1 {
        margin-left: 85.7143%;
    }

}




















/* ==========================================================================
   PRINT
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}